@import "../reindeer/reindeer.scss";

@mixin gplus {
  @include reindeer;

  .v-button {
    font-family: "Monospace";
  }
 
  .dock-calendar {
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url("images/calendar.png") no-repeat scroll 8px 0 transparent;
    position: relative;
    
    .dock-calendar-wrap {
      display: block;
      position: absolute;
      bottom: 0;
      width: 64px;
      text-align: center;
      overflow: show;
      whitespace: nowrap;
    }
  }
  
  .dock-palette {
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url("images/palette.png") no-repeat scroll 8px 0 transparent;
    position: relative;
    
    .dock-palette-wrap {
      display: block;
      position: absolute;
      bottom: 0;
      width: 64px;
      text-align: center;
      overflow: show;
      whitespace: nowrap;
    }
  }
  
  .dock-update {
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url("images/update.png") no-repeat scroll 8px 0 transparent;
    position: relative;
    
    .dock-update-wrap {
      display: block;
      position: absolute;
      bottom: 0;
      width: 64px;
      text-align: center;
      overflow: show;
      whitespace: nowrap;
    }
  }
  
  .dock .v-spacing {
    height: 20px;
  }
  
  .post-author {
    text-align: center;
    
    img {
      border-radius: 5px;
    }
    
    .v-captiontext {
      display: none;
    }
  }
  
  .post-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    
    .post-header {
      padding-left: 10px;
      height: 48px;
      
      .author-name {
        font-weight: bold;
      }
      
      .v-label {
        line-height: 48px;
      }
    }
    
    .v-captiontext {
      display: none;
    }
    
    .post-date {
      color: #888;
    }
  }
  
  .post-wrapper {
    padding-right: 16px;
  }
  
  .posts {
    .v-table-cell-content {
      padding: 10px 0;
    }
    
    .v-table-row-odd {
      background-color: #fff;
    }
  }
}
